html, body {
	font-family: 'Indie Flower', cursive;
	overflow: scroll;
}

.bg {
	/* The image used */
	background-image: url("./images/main_background.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

.logoimg {
	max-width: 100%;
}

.mainlabel {
	color: white;
	font-size: 2em;
}

.standard-button {
	background-color: #D2AA6B;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 0.6em 4.5em;
	border: none;
	border-radius: 20px;
}

.progress-set {
	width: 30%;
	float: left;
}

.progress-label {
	float: left;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 0.8em;
}

.progress {
	height: 3px;
	width: 100%;
	background-color: white;
	-webkit-box-shadow: none;
  	box-shadow: none;
}

.progress-bar {
	background-color: #D2AA6B;
}

.question-label {
	color: white;
	font-size: 2em;
}

.answer-button {
	max-width: 80%;
	min-height: 2.5em;
	border: #D2AA6B solid 1px;
	margin: 0.4em auto;
	font-size: 1.5em;	
	color: white;
	overflow-wrap: break-word;
}

.answer-button:hover {
	background-color: #D2AA6B;
}

.score-value {
	color: #b51419;
	font-size: 7em;
	font-family: 'Rubik', sans-serif;
}

#answer-button-a {
	border-radius: 10px;
}

#answer-button-b {
	border-radius: 10px;
}

#answer-button-c {
	border-radius: 10px;
}

#answer-button-d {
	border-radius: 10px;
}

.score-label {
	color: white;
	font-size: 5em;
}

